<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_Server_Manager.Properties.Enshrouded" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Game_Server_Manager.Properties.Valheim" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Game_Server_Manager.Properties.ColorTheme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Game_Server_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_Server_Manager.Properties.Enshrouded" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Game_Server_Manager.Properties.Valheim" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Game_Server_Manager.Properties.ColorTheme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Game_Server_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Game_Server_Manager.Properties.Enshrouded>
            <setting name="ServerFolderName" serializeAs="String">
                <value>enshrouded_server</value>
            </setting>
            <setting name="ServerExe" serializeAs="String">
                <value>enshrouded_server.exe</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Enshrouded</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>15636</value>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value>secret</value>
            </setting>
            <setting name="ServerSaveDir" serializeAs="String">
                <value>save_game</value>
            </setting>
            <setting name="ProzessName" serializeAs="String">
                <value>enshrouded_server</value>
            </setting>
            <setting name="ServerQueryPort" serializeAs="String">
                <value>15637</value>
            </setting>
            <setting name="ServerCFGName" serializeAs="String">
                <value>enshrouded_server.json</value>
            </setting>
            <setting name="ServerSlots" serializeAs="String">
                <value>16</value>
            </setting>
        </Game_Server_Manager.Properties.Enshrouded>
        <Game_Server_Manager.Properties.Valheim>
            <setting name="ServerFolderName" serializeAs="String">
                <value>valheim_server</value>
            </setting>
            <setting name="ServerExe" serializeAs="String">
                <value>valheim_server.exe</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>ValheimServer</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>2456</value>
            </setting>
            <setting name="ServerWorld" serializeAs="String">
                <value>Dedicated</value>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value>secret</value>
            </setting>
            <setting name="ServerSaveDir" serializeAs="String">
                <value>save_game</value>
            </setting>
            <setting name="ServerPublic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerSaveInterval" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="ServerBackups" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ServerCrossplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BATName" serializeAs="String">
                <value>start_server.bat</value>
            </setting>
            <setting name="ProzessName" serializeAs="String">
                <value>valheim_server</value>
            </setting>
            <setting name="ServerLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerPreset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerPresetTrackbar" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ServerBackupShort" serializeAs="String">
                <value>7200</value>
            </setting>
            <setting name="ServerBackupLong" serializeAs="String">
                <value>43200</value>
            </setting>
        </Game_Server_Manager.Properties.Valheim>
        <Game_Server_Manager.Properties.ColorTheme>
            <setting name="Text" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MouseDown" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="MouseHover" serializeAs="String">
                <value>0, 0, 77</value>
            </setting>
            <setting name="FormBG" serializeAs="String">
                <value>38, 38, 38</value>
            </setting>
            <setting name="FormBGPopup" serializeAs="String">
                <value>50, 50, 50</value>
            </setting>
            <setting name="HomeBTN" serializeAs="String">
                <value>12, 190, 228</value>
            </setting>
            <setting name="ExitBTN" serializeAs="String">
                <value>243, 0, 0</value>
            </setting>
            <setting name="Confirm" serializeAs="String">
                <value>77, 224, 16</value>
            </setting>
            <setting name="Cancel" serializeAs="String">
                <value>243, 0, 0</value>
            </setting>
            <setting name="MenuActive" serializeAs="String">
                <value>35, 0, 45</value>
            </setting>
            <setting name="TextBoxBG" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextBoxText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Loading" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="FormBGPopupTopBar" serializeAs="String">
                <value>65, 65, 65</value>
            </setting>
            <setting name="ExitBTNConfirm" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ExitBTNCancel" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="IconValheim" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MenuSelected" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="FormBGChild" serializeAs="String">
                <value>38, 38, 38</value>
            </setting>
            <setting name="ButtonBG" serializeAs="String">
                <value>38, 38, 38</value>
            </setting>
            <setting name="IconDisabled" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
        </Game_Server_Manager.Properties.ColorTheme>
        <Game_Server_Manager.Properties.Settings>
            <setting name="ServerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamCMDPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamCMDLastUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="ValheimLastUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="EnshroudedLastUpdate" serializeAs="String">
                <value />
            </setting>
        </Game_Server_Manager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Game_Server_Manager.Properties.Enshrouded>
            <setting name="SteamAppID" serializeAs="String">
                <value>2278520</value>
            </setting>
            <setting name="GameName" serializeAs="String">
                <value>Enshrouded</value>
            </setting>
            <setting name="ServerLogFolder" serializeAs="String">
                <value>logs</value>
            </setting>
        </Game_Server_Manager.Properties.Enshrouded>
        <Game_Server_Manager.Properties.Valheim>
            <setting name="SteamAppID" serializeAs="String">
                <value>896660</value>
            </setting>
            <setting name="GameName" serializeAs="String">
                <value>Valheim</value>
            </setting>
            <setting name="ServerUsingBat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BATEXEName" serializeAs="String">
                <value>valheim_server</value>
            </setting>
            <setting name="BATAppID" serializeAs="String">
                <value>892970</value>
            </setting>
            <setting name="ServerLogFileName" serializeAs="String">
                <value>valheim_server_log.txt</value>
            </setting>
        </Game_Server_Manager.Properties.Valheim>
        <Game_Server_Manager.Properties.ColorTheme>
            <setting name="IconSteam" serializeAs="String">
                <value>ControlDark</value>
            </setting>
        </Game_Server_Manager.Properties.ColorTheme>
        <Game_Server_Manager.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SteamCMDURL" serializeAs="String">
                <value>https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip</value>
            </setting>
        </Game_Server_Manager.Properties.Settings>
    </applicationSettings>
</configuration>